<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!--  TODO [BEFORE SUITE]  -->
<suite name="login">
    <!--  TODO [BEFORE TEST]  -->
    <test name="login_tests">
        <classes>
            <!--  TODO [BEFORE CLASS]      -->
            <class name="org.login.login_valid_user">
                <!--     TODO [BEFORE METHOD]       -->
                <!--     TODO [TEST METHOD INSIDE CLASS]    -->
                <!--     TODO [AFTER METHOD]       -->
            </class>
            <!--  TODO [AFTER CLASS]      -->
            <class name="org.login.login_invalid_user" />
        </classes>
    </test>
    <!--  TODO [AFTER TEST]  -->

    <!--  TODO [BEFORE TEST]  -->
    <test name="register_tests">
        <classes>
            <class name="org.login.register_valid_user" />
            <class name="org.login.register_invalid_user" />
        </classes>
    </test>
    <!--  TODO [AFTER TEST]  -->
</suite>
<!-- TODO [AFTER SUITE]-->